AeroSandbox==1.1.10
appdirs==1.4.4
autograd==1.3
Brotli==1.0.9
casadi==3.5.5
certifi==2021.5.30
click==8.0.1
colorama==0.4.4
cycler==0.10.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dill==0.3.4
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
imageio==2.9.0
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
MarkupSafe==2.0.1
matplotlib==3.4.2
meshio==4.4.6
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854593605/work
mkl-service==2.3.0
multiprocess==0.70.12.2
numba==0.53.1
numpy @ file:///C:/ci/numpy_and_numpy_base_1620831380353/work
pandas==1.2.5
Pillow==8.2.0
plotly==5.0.0
ply==3.11
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.1
python-dateutil==2.8.1
pytz==2021.1
pyvista==0.31.3
scipy==1.7.0
scooby==0.5.7
seaborn==0.11.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
tenacity==7.0.0
tqdm==4.61.1
transforms3d==0.3.1
trimesh==3.9.20
typing-extensions==3.10.0.0
vtk==9.0.1
Werkzeug==2.0.1
wincertstore==0.2
zipp==3.4.1
